@charset "utf-8";
/* CSS Document */
#one {
display:none;
position: fixed;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
z-index: 5;
background-color:#a6aeb0;
opacity: 0.8;
TEXT-ALIGN: center;	
}
#one form {
    color:black;
    width:350px;
	height:430px;
    border:1px solid #2e384f;
    margin:0 auto;
    margin-top:100px;
    box-shadow: 0 0 5px black;
    background: #2e3849;
    -webkit-box-shadow: 0 0 5px black;
    
}
#two {
display:none;
position: fixed;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
z-index: 5;
background-color:#a6aeb0;
opacity: 0.8;
TEXT-ALIGN: center;	
}
#two form {
    color:black;
    width:350px;
	height:430px;
    border:1px solid #2e384f;
    margin:0 auto;
    margin-top:100px;
    box-shadow: 0 0 5px black;
    background: #2e3849;
    -webkit-box-shadow: 0 0 5px black;
}
.login{
	font-size:18px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}
.login a{
    font-size:50px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;
}

.log_input .form-group{
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}
.log_input .form-group input{
	width:300px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	border:1px solid #766ad5;
	border-radius:4px;
}

.butt1{
    
}
.butt1 a{
	font-size:18px;
}

.butt2{
	font-size:18px;
    width:300px;
	height:33px;
    margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	border-radius:4px;
    background: #3498db;
}
.butt2 a{
	font-size:18px;
}
.butt1 button{
	font-size:18px;
	width:300px;
	height:33px;
    margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	border-color:#776bd1;
	border-radius:4px;
    background: #776bd1;
}
.butt2 button{
	font-size:18px;
	width:300px;
	height:33px;
    margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	border-color:#3498db;
	border-radius:4px;
    background: #3498db;
	}